@charset "UTF-8";

#background-animation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;

    background-color: #585a58;
}

#background-animation-vignette {

    background: transparent;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 95%, rgba(0, 0, 0, 0.85) 100%);
    
    /*background: radial-gradient(#00000000, #000000ff);*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.competence {
    padding-left: 5px;
    padding-right: 5px;
}

.cv-section-title {
    text-shadow: 1px 1px #4a1936;
}

.rainbow-text {
    width: 80vw;
    height: 200px;
    border-radius: 5px;
    background: linear-gradient(
            90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%
    );
    background-clip: text;
}

#about {
    background: var(--bs-dark);
    background: linear-gradient(0deg,
        rgba(var(--bs-dark-rgb), 0) 0%,
        rgba(var(--bs-dark-rgb), 0.4) 1%,
        rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) 4%,
        /*rgba(var(--bs-dark-rgb), 1) 50%,*/
        rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) 96%,
        rgba(var(--bs-dark-rgb), 0.4) 99%,
        rgba(var(--bs-dark-rgb), 0) 100%
    ) !important;
}

@media (max-width: 992px) {
    #projects-container {
        background: var(--bs-dark) !important;
        background: linear-gradient(0deg,
        rgba(var(--bs-dark-rgb), 0) 0%,
        rgba(var(--bs-dark-rgb), 0.4) 1%,
        rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) 4%,
            /*rgba(var(--bs-dark-rgb), 1) 50%,*/
        rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) 96%,
        rgba(var(--bs-dark-rgb), 0.4) 99%,
        rgba(var(--bs-dark-rgb), 0) 100%
        ) !important;
        max-width: initial !important;
        width: 100% !important;
    }
}

.about-section .card {
    width: 20rem;
}

.about-section .card ul li {
    list-style: none;
    
}

.about-section .xp-logo {
    height: 145px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.teicee-logo {
   background-image: url('../assets/img/teicee.jpg');
}

.dys-logo {
    background-image: url('../assets/img/dys.jpg');
}

.forlabs-logo {
    background-image: url('../assets/img/forlabs.png');
}

#avatar {
    border: 10px solid var(--bs-green);
    width: 25vh;
}

.avatar-sep {
    width: 6em;
    color: var(--bs-white);
    font-weight: bolder;
}

.project-container {
    border: 6px dotted #595857 !important;
    padding: 1rem;
}

.project-tile {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 300px;
}

.domus {
    background-image: url('../assets/img/domus.png');
}

.dominos {
    background-image: url('../assets/img/dominos.png');
}

.hopp {
    background-image: url('../assets/img/hopp.png');
}

.followme {
    background-image: url('../assets/img/followme.png');
}

.klodios {
    background-image: url('../assets/img/klodios.png');
}

.mcs {
    background-image: url('../assets/img/mcs.jpg');
}

h1 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: "Agbalumo", system-ui;
}

.project h5 {
    font-size: 0.9rem;
    /*color: var(--bs-gray) !important;*/
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.text-bg-separator {
    background-color: #59585761;
}

#root {
    position: absolute;
    bottom: 10% !important;
}